.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;
    display: grid;
    // grid-template-rows: 150px 150px;
    //grid-template-columns: 150px 150px 150px;
    grid-template-rows: repeat(2, 150px);
    // grid-template-columns: repeat(2, 150px) 150px;
    // grid-template-columns: repeat(2, 150px) 1fr;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 1fr 2fr 3fr;
    // grid-template-columns: 50% 2fr 3fr;
    grid-template-columns: repeat(3, 1fr);
    /*
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    */
    grid-gap: 30px;
    // height: 1000px;
    // grid-template-rows: repeat(2, 1fr);
}

.item {
    padding: 20px;
    font-size: 30px;
    color: white;
    &--1 {
        background-color: orangered;
        // Positioning
        /*
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        */
        grid-row: 2/3;
        grid-column: 2/3;
    }
    &--2 {
        background-color: greenyellow;
        grid-row: 1/3;
        // grid-column: 1/ span 2;
        grid-column: 2/ -1;
        z-index: 5;
    }
    &--3 {
        background-color: violet;
        // Spanning
        /*
        // grid-row: 2/3;
        grid-column: 2/4;
        */
        grid-row: 2/3;
        grid-column: 2/4;
    }
    &--4 {
        background-color: palevioletred;
    }
    &--5 {
        background-color: royalblue;
        // grid-row: 1/2;
        // grid-column: 3/4;
        grid-area: 1/3 / 2/4;
    }
    &--6 {
        background-color: goldenrod;
        grid-area: 1/2 / 2/3;
    }
}


/* Method 1
.template {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;
    display: grid;
    // grid-template-rows: repeat(5, 200px);
    grid-template-rows: 100px 200px 300px 100px;
    grid-template-columns: repeat(3, 240px) 1fr;
    grid-gap: 30px;
}

.temp {
    padding: 20px;
    font-size: 30px;
    &--header {
        grid-row: 1/2;
        // grid-column: 1/5;
        grid-column: 1/-1;
        background-color: orangered;
    }
    &--box1 {
        background-color: coral;
    }
    &--box2 {
        background-color: coral;
    }
    &--box3 {
        background-color: coral;
    }
    &--sidebar {
        // grid-row: 2/5;
        grid-row: 2/span 3;
        grid-column: 4/5;
        background-color: greenyellow;
    }
    &--main {
        grid-row: 3/5;
        grid-column: 1/4;
        background-color: violet;
    }
    &--footer {
        grid-row: 5/6;
        grid-column: 1/5;
        background-color: blue;
    }
}

*/

// Method 2 Line names

/*
.template {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: [header-start] 100px [header-end box-start] 200px [ box-end main-start] 300px [main-end footer-start] 100px [footer-end];
    grid-template-columns: repeat(3, [col-start] 240px [col-end]) 1fr [grid-end];
    grid-gap: 30px;
}

.temp {
    padding: 20px;
    font-size: 30px;
    &--header {
        grid-row: 1/2;
        // grid-column: 1/5;
        grid-column: col-start 1/grid-end;
        background-color: orangered;
    }
    &--box1 {
        background-color: coral;
    }
    &--box2 {
        background-color: coral;
    }
    &--box3 {
        background-color: coral;
    }
    &--sidebar {
        // grid-row: 2/5;
        grid-row: box-start/ main-end;
        grid-column: col-end 3/grid-end;
        background-color: greenyellow;
    }
    &--main {
        grid-row: 3/4;
        grid-column: 1/4;
        background-color: violet;
    }
    &--footer {
        grid-column: 1/5;
        background-color: blue;
    }
}

*/

// Naming Grid Areas
.template {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 100px 200px 300px 100px;
    grid-template-columns: repeat(3, 240px) 1fr;
    grid-gap: 30px;
    // grid-template-areas: "head head head head" "box box box side" "main main main side" "foot foot foot foot";
    grid-template-areas: ". . head head" "box box box side" "main main main side" "foot foot foot foot";
}

.temp {
    padding: 20px;
    font-size: 30px;
    &--header {
        background-color: orangered;
        grid-area: head;
    }
    &--box1 {
        background-color: coral;
    }
    &--box2 {
        background-color: coral;
    }
    &--box3 {
        background-color: coral;
    }
    &--sidebar {
        background-color: greenyellow;
        grid-area: side;
    }
    &--main {
        background-color: violet;
        grid-area: main;
    }
    &--footer {
        background-color: blue;
        grid-area: foot;
    }
}

// .div2 {
//     width: 1000px;
//     margin: 30px auto;
//     background-color: #ddd;
//     display: grid;
//     grid-template-rows: repeat(2, 150px);
//     // grid-template-columns: repeat(2, 1fr);
//     grid-gap: 30px;
//     grid-auto-rows: 80px;
//     grid-auto-columns: .5fr;
//     // default is row
//     // grid-auto-flow: column;
//     grid-auto-flow: row dense;
//     // veritcally center each item in its grid 
//     // align-items: center; // by default this is stretch 
//     //
//     // justify-items: center; // center horizonally  - default is stretch 
//     // Align grid tracks to grid container
//     grid-template-columns: repeat(2, 200px);
//     justify-content: center;
//     align-content: center;
//     height: 1000px;
//     .item2 {
//         padding: 20px;
//         color: white;
//         font-family: sans-serif;
//         font-size: 30px;
//         background-color: orangered;
//         &--4 {
//             background-color: crimson;
//             grid-row: 2/span 3;
//             // align-self: start;
//             // justify-self: end;
//         }
//         &--6 {
//             background-color: lightskyblue;
//             grid-row: 2/span 2;
//         }
//         &--7 {
//             background-color: pink;
//             grid-column: 1/-1;
//         }
//     }
// }
// 
.div3 {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;
    display: grid;
    // min max row
    // grid-template-rows: repeat(2, 150px);
    // grid-template-rows: repeat(2, min-content);
    /*
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: max-content 1fr 1fr min-content;
    */
    width: 90%;
    grid-template-rows: repeat(2, minmax(150px, min-content));
    // grid-template-columns: minmax(200px, 300px) repeat(3, 1fr);
    grid-template-columns: minmax(200px, 50%) repeat(3, 1fr);
    .item3 {
        padding: 20px;
        color: white;
        font-family: sans-serif;
        font-size: 30px;
        background-color: orangered;
        &--1 {
            background-color: blue;
        }
        &--2 {
            background-color: rosybrown;
        }
        &--3 {
            background-color: seashell;
        }
        &--4 {
            background-color: greenyellow;
        }
        &--5 {
            background-color: khaki;
        }
        &--6 {
            background-color: crimson;
        }
        &--7 {
            background-color: lightskyblue;
        }
        &--8 {
            background-color: pink;
        }
    }
}