* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ccc;
    /* height:1500px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* align-items: baseline; */
}

.items {
    background-color: #f1425d;
    padding: 40px;
    margin: 30px;
    color: #fff;
    font-size: 40px;
}

.i2 {
    height: 200px;
}

.i4 {
    /* font-size: 90px; */
}